.form {
  padding: var(--size-2);
  max-width: 600px;
  margin: 0 auto;
}

.label {
  width: 100%;
  text-align: right;
  color: var(--on-secondary);
  font-weight: var(--font-heavy);
}

.value {
  width: 100%;
  text-align: left;
}

.desc {
  width: 100%;
  text-align: right;
  color: var(--on-primary);
  font-size: 0.8rem;
  opacity: 0.6;
  margin-top: 2px;
}
