.workspace {
  display: flex;
  min-height: 10rem;
  flex-grow: 1;
  gap: var(--size-2);
}

@media (max-width: 540px) {
  .workspace {
    flex-direction: column;
  }
}

.editor {
  flex-grow: 1;
  overflow-y: scroll;
  font-family: "Consolas", monospace;
}

.editorTextArea {
  outline: inherit;
}
